* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
}

#canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #eaeaea;
}

span, div {
  position: absolute;
  color: #aaa;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  font-family: Helvetica;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

div {
  bottom: 60px;
}
div:nth-of-type(2) {
  bottom: 20px;
}
div:nth-of-type(2) button {
  font-size: 14px;
  padding: 4px 8px;
}
div a {
  text-decoration: none;
  color: #2266bb;
}
div a:first-child {
  margin-right: 20px;
}
