.context {
    position: absolute;
    top: 20px;
    left: 20px;
}

.line {
    display: flex;
    height: 20px;
    align-items: center;
}

.hoverLine {
    display: none;
}

.hoverIcon {
    cursor: pointer;
}

.hoverIcon:hover + .hoverLine {
    display: initial;
}

.button {
    border: 1px solid gray;
    border-left: none;
    padding: 0 4px;
    cursor: pointer;
}

.link {
    margin-left: 5px;
}

.tip {
    display: none;
    color: gray;
    margin-left: 8px;
}

.link:hover + .tip {
    display: initial;
}

.description {
}
